<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ts3booter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ts3booter.Properties.Settings>
            <setting name="l4h" serializeAs="String">
                <value />
            </setting>
            <setting name="l4p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="l4t" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="l4m" serializeAs="String">
                <value />
            </setting>
            <setting name="l4r" serializeAs="String">
                <value>False</value>
            </setting>
        </ts3booter.Properties.Settings>
    </userSettings>
</configuration>